.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.knewave-regular {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8); /* Start closer to full size */
    opacity: 1; /* Ensure full visibility */
  }
  100% {
    transform: scale(1); /* End at full size */
    opacity: 1; /* Maintain visibility */
  }
}

.animate-zoomIn {
  animation: zoomIn 0.15s ease-in-out;
}